
$gray: #ECECEC;

body{
    font-family: 'Roboto', sans-serif;
}

header img{
    width: 100%;
    border-radius: 10px;
}

header{
    background-color: $gray;
    border-radius: 10px;
}

#title{
    text-align: center;
    padding: 20px;
}

form{
    padding: 20px;
}

form .item{
    margin-bottom: 10px;
}

form .subtitle{
    margin-top: 30px;
}

#button-div{
    margin-top: 20px;
}

#message{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}